{% load static %}
<html>
    <head>
        <title>&pi;app</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="page-header">
          {% if user.is_authenticated %}
            <!-- <p class="top-menu">Привет, {{ user.username }}! <small>(<a href="{% url 'logout' %}">Выйти</a>)</small></p> -->
            <a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-log-out"></span></a>
          {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
          {% endif %}
          <h1><a href="/">&pi;app</a></h1> <h6><i>приложение парсинга информации о недвижимости</i></h6>
        </div>
        <div class="content container">
          {% block content %}
          {% endblock %}
        </div>
    </body>
</html>
