{% extends 'app/base.html' %}

{% block content %}
<h1> Workers list </h1>
<table>
  {% for worker in workers %}
  <tr>
    <td> <a class="btn btn-default" href="{% url 'worker_activate' pk=worker.pk %}">Activate</button> </td>
    <td> <button type="button"> Stop </button> </td>
    <td> {{worker.source}} </td>
    <td> {{worker.min_cost}} </td>
    <td> {{worker.max_cost}} </td>
    <td> {{worker.email}} </td>
    <td> {{worker.objects_amount}} </td>
    <td> {{worker.starting_time}} </td>
    <td> {{worker.updating_period}} </td>
    <td> {{worker.objects_type}} </td>
    <td> {{worker.name}} </td>
    <td> <a class="btn btn-default" href="{% url 'worker_edit' pk=worker.pk %}"><span class="glyphicon glyphicon-pencil"></span></a> </td>
  </tr>
  {% endfor %}
</table>
<br>
<!-- <button type="button"> Create worker </button> -->
Add worker <a href="{% url 'worker_edit' %}"> <span class="glyphicon glyphicon-plus"></span>
{% endblock %}
